<h1>Hello, <%=@user.full_name%></h1>

<table>
  <tr>
    <th>Account Number</th>
    <th>Account Type</th>
    <th>Balance</th>
  </tr>
  
    <% if @accounts %>
      <%@accounts.each do |account| %>
      <tr>
        <td><%= account.account_number %></td>
        <td><%= account.account_type %></td>
        <td><%= account.balance %></td>
        <td><label for="close_account">
        <form action='/accounts/<%=account.id %>/delete' method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="Close Account">
        </form>
        </label></td>
      <%end%>
    <% else %>
    <p>You don't have any open accounts.</p>
    <%end%>
  </tr>
  
  
</table>





<br>
<br>
<form action='/accounts/new' method="get">
  <input type="submit" value="Open Account">
</form>
<br>



<form action='/users/<%=@user.id %>/edit' method="get">
  <input type="submit" value="Edit User">
</form>
<br>
<br>






