<h1>Welcome, <%=@user.full_name%></h1>

<% if @accounts == [] %>
  <p>You don't have any open accounts.</p>
<% else %> 
  <table>
    <tr>
      <th>Account Number &nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Account Type &nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Balance &nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
      <%@accounts.each do |account| %>
      <tr>
        <td><%= account.account_number %></td>
        <td><%= account.account_type %></td>
        <td><%= account.balance %></td>
        <td><label for="close_account">
        <form action='/accounts/<%=account.id %>/delete' method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="Close Account">
        </form>
        </label></td>
      </tr>
      <%end%>
    <%end%>
</table>


<br>
<br>
<form action='/accounts/new' method="get">
  <input type="submit" value="Open Account">
</form>
<br>

<form action='/users/<%=@user.id %>/edit' method="get">
  <input type="submit" value="Edit User">
</form>
<br>
<br>






