<h1>Hello, <%=@user.full_name %></h1>
<% @user.accounts.each do |account| %>
  <p><label for="account">Account Number: </label><%= account.account_number %></p>
  <p><label for="account_type">Account Type: </label><%= account.account_type %></p>
  <p><label for="balance">Balance: </label><%= account.balance %></p>
  <p><form action="/accounts/<%=account.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form></p>
<% end %>




